<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.task.myappwidget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".provider.MyWidgetProvider"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.task.myappwidget.action.LIVE_CLICK" />
                <action android:name="com.task.myappwidget.action.NEXT_CLICK" />
                <action android:name="com.task.myappwidget.action.PREV_CLICK" />
                <action android:name="com.task.myappwidget.action.AUTO_UPDATE" />
                <action android:name="om.task.myappwidget.action.LOAD_URL" />
            </intent-filter>


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

    </application>

</manifest>